fastapi==0.110.0
uvicorn[standard]==0.29.0

pandas==2.2.2
numpy==1.26.4

geopy==2.4.1
requests==2.31.0

streamlit==1.33.0
plotly==5.21.0

folium==0.16.0
streamlit-folium==0.20.0

python-multipart==0.0.9
python-dotenv==1.0.1

supabase==2.4.0
postgrest==0.16.4
gotrue==2.4.2
storage3==0.7.4

openpyxl==3.1.2